.SiteFooter {
  background-color: $orange;
  padding-top: 1rem;
  padding-bottom: 1rem;
  color: $white;
  lost-utility: clearfix;
  margin-top 2rem;

  a {
    color $white;
  }

}

.SiteFooter__Inner {
  text-align center;
}

