.SiteHeader {
  background-color: $orange;
  padding: 20px 0;
}

.SiteHeader__Inner {
  lost-center: $siteWidth;
}

.SiteHeader__Inner__SiteTitle {
  lost-column: 3 / 12
  margin 0;
  color: $white;
}

.SiteHeader__Inner__Nav {
  lost-column: 9 / 12
  lost-align:middle-right;

}

.SiteHeader__Inner__Nav__Links__Link {
  display: inline-block;
  padding: 0 1rem 0 1rem;
  & > a {
    color: white;
    text-decoration none;
    &:hover {
      text-decoration underline;
    }
  }
}