@import url(http://fonts.googleapis.com/css?family=Ubuntu:400,700|Open+Sans:400,700);
/*
    Color scheme
    Orange  :   #f0523f
    Grey    :   #4c4c4c
*/
html, body {padding: 0;margin: 0; font-size: 14px; font-family: 'Open Sans', sans-serif;color:#808080;}

h1 {font-weight: normal;}
h2 {font-weight: normal;color: #f0523f;}
a {color: #f0523f; text-decoration: none}
a:hover {text-decoration: underline;}


.container {width: 1060px; margin: 0 auto}

/* Form */
input, textarea {padding: .5em;border: 2px solid #E7E7E7;outline: none;border-radius: 4px;color: #757575;background: #FAFAFA;}

/* Alert box */
.alert {border: 1px solid #E4E4E4;background: #F7F7F7;padding: 1em;margin: 1em;box-shadow: 0 0 9px #E2E2E2;}
.alert.alert-success {border-color: #ACD3B1;background: #F9FFF7;}
.alert.alert-info {border-color: #F89210;background: #FFF5E0;}
.alert i {font-size: 2em;float: left;margin: 0 .5em 0 0;}

/* top messages */
div.top_msg {cursor: pointer; text-align: center; padding: 5px;  font-weight: bold;}
div.top_error {background-color: red; color: white;}
div.top_success {background-color: green; color: white;}

/* header */
header {background: #4c4c4c}
header nav {width: 1060px; margin:0 auto;font-family: 'Ubuntu', sans-serif;}
header h1 {height: 69px; padding: 0;margin: 0;display: inline-block;font-weight: normal;line-height: 69px; width:320px; float:left;}
header h1 img {float:left;margin: .5em;height: 45px;}
header a {color : #A8A8A8;text-decoration: none;padding: 0 .6em;}
header a:hover, header li.active > a {color: #F4F4F4;text-decoration: none}
header ul.menu {display: inline-block;font-size: 1.2em;text-align: right; width: 635px; margin-top: 30px;}
header ul li {display: inline-block;position: relative; float:left;}
header ul li a {padding: 1.5em 0 1.5em 2em;}
header ul ul {display: none;position: absolute;top: 1em;left: 1.3em;background: #4c4c4c;line-height: normal;padding: 0;border:1px solid #CCC;border-top:none;box-shadow: #474747 1px 1px 1px;}
header ul ul:before{content: ' ';border-bottom: 10px solid #777;width: 0;height: 0;border-left: 10px solid transparent;border-right: 10px solid transparent;position: absolute;left: 9px;top: -10px;}
header ul ul li {display: block;text-align: left;}
header ul ul a {padding: 0.5em 6em 0.5em 1em;display: block;font-size: .9em;}
header ul li.account {display:block; float:right}

/* Orange sub-nav */
.orangebox {background: #f0523f;}
.orangebox h2 {font-weight: normal;color: #FFF;font-size: 1.6em;padding: .3em 0;margin: 0;}
.orangebox ul {padding: 0 0 1em 0;margin:0;}
.orangebox li {color: #FFF;display: block;padding: .2em 0;}
.orangebox .col {width: 49.8%;display: inline-block;}
.orangebox .download {float: right;font-size: 2em;color: #FCC5B7;}
.orangebox .download:hover {text-decoration: none;color: #F4F4F4;cursor: pointer;}

/* BreadCrumb */
ul.breadcrumb {background: #f0523f; border-radius: 4px; color: #ddd; padding:0; padding:3px 5px;}
ul.breadcrumb a {color: white;}
ul.breadcrumb li {display: inline-block; list-style-type: none;}
ul.breadcrumb span.divider {display: inline-block; margin: 3px;}

/* Forums */
#forums .mainTable, #forums #forum-message-list {margin-top: 35px; width:100%; }
#forums #forum-message-list {padding: 0; list-style-type: none;}
#forums .forum-message {padding: 15px; min-height: 200px; position: relative; margin-bottom: 10px; border-radius: 4px}
#forums .forum-message.even {background-color: #eee;}
#forums .forum-message.odd {background-color: #ddd;}
#forums .forum-message .forum-text {margin-top: 5px;}
#forums .forum-message .user-infos { float:left; width: 270px; padding-top: 10px;}
#forums .forum-message .user-infos img { height: 100px; width: 100px; float:left; margin: 0px 10px 10px 10px;}
#forums .forum-message .forum-text-zone { margin-left:270px;}
#forums .forum-message .forum-text-tools { position: absolute; bottom: 15px; right: 15px;}
#forums .btn-new, #forums .btn-reply {display: inline-block; background-color: #f0523f; color:white; padding:6px 15px; border-top: 4px}

/* Docs */
.sidebar {width: 25%;float: left;}
.sidebar ul {padding: 0;list-style: none;}
.sidebar ul a {color: #9C9C9C;padding: .2em 1em;display: block;margin: 0 2em 0 0;}
.sidebar ul a:hover {background: #FAFAFA;color: #F0523F;text-decoration: none;font-weight: bold;}
.documentationContent {width: 74%;display: inline-block;}
