.Modal {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  right: 0;
  botom: 0;
  width: 100%;
  height: 100%;
  display: table;
  transition: opacity .3s ease;
  background rgba(0, 0, 0, 0.3);
  overflow-y: scroll;
  overflow-x: hidden;
}

.Modal__Wrapper {
  position relative;
  display table-cell;
  vertical-align middle
  overflow-y: scroll;
  overflow-x: hidden;
}

.Modal__Wrapper__Container {
  width: $siteWidth * 0.9;
  margin: 0 auto;
  padding: 1.7rem 2.2rem;
  background-color: $white;
  transition: all .3s ease;
}

.Modal__Wrapper__Container__Header__Buttons {
  float: right;
}

.Modal__Wrapper__Container__Header h3 {
  margin-top: 0;
  color: $orange;
}

.Modal__Wrapper__Container__Body {
  margin: 1.3rem 0;
}

.Modal__Wrapper__Container__Footer {
  text-align right;
}

/*
 * the following styles are auto-applied to elements with
 * v-transition="modal" when their visiblity is toggled
 * by Vue.js.
 *
 * You can easily play with the modal transition by editing
 * these styles.
 */

.Modal-enter, .Modal-leave {
  opacity: 0;
}

.Modal-enter .Modal__Wrapper__Container,
.Modal-leave .Modal__Wrapper__Container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.Modal--Fullscreen {
  background-color: $white;

  .Modal__Wrapper {
    position: absolute;
    min-width: 100%;
    min-height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $white;
    vertical-align: top;
  }

  .Modal__Wrapper__Container {
    top: 0;
    bottom: 0;
    width $siteWidth;
    margin 0 auto;
  }
}


@import "new-topic"
