.PageForums {

  .SiteFooter__Inner {
    lost-column: 3 / 4;
    lost-offset: -1 / 4;
  }
}

@media screen and (max-width: 980px) {

  .PageForums {
    .SiteFooter__Inner {
      lost-column: 1;
      lost-offset: 0;
    }


    .Forums__Content__AnswerBlock {
        padding: 1rem;
    }
  }

}
