.Button {
  buttonLike()

  line-height: 1.4rem;
  padding: .6rem 1rem;
  border: 1px solid $lightgrey;
  &:focus {
    outline 1px solid $lightgrey;
  }
}

.Button--Small {
  line-height: 1rem;
  padding: .3rem .7rem;
  font-size .8rem;
}

.Button--Submit{
  background-color: $orange;
  color: $white;
  text-decoration none;
  border  1px solid darken($orange, 15%);
  padding .3rem .8rem;
  &:focus {
    outline 1px solid darken($orange, 15%);
  }

  &[disabled] {
    background lighten($orange, 12);
    cursor: not-allowed
  }
}

.Button--Cancel{
  background-color: $white;
  color: $black;
  text-decoration none;
  border  1px solid darken($white, 15%);
  padding .3rem .8rem;
  &:focus {
    outline 1px solid darken($white, 15%);
  }

}



.Button--NewTopic {
  width 100%;
  background-color: $orange;
  color: $white;
  text-decoration none;
  font-weight bold;
  font-size 1.1rem;
}


.Button--ToggleWatchTopic {
  float: right;
  background-color: $orange;
  color: $white;
  border  1px solid darken($orange, 15%);
  &:focus {
    outline 1px solid darken($orange, 15%);
  }

  &[disabled] {
    background lighten($orange, 12);
    cursor: not-allowed
  }

}