.Button {
  buttonLike()

  line-height: 20px;
  padding: 8px 13px;
  color: #7089a9;
  background: #e7edf3;
  border: 0;
}

.Button_NewTopic {
  width 100%;
  background-color: $orange;
  color: $white;
  text-decoration none;
  font-weight bold;
  font-size 1.1rem;
}

