buttonLike() {
  display: inline-block;
  margin-bottom: 0;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  white-space: nowrap;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}


//===============
// Sizes
//================
$siteWidth = 1180px;


//===============
// Colors
//================
$orange = #f55247;
$white = #fdfdfd;
$black = #696969;
$lightgrey = #ddd;
$lightgray = $lightgrey;