.Forums__TopicList {
  margin 0;
  padding 0;
}

.Forums__TopicList__Item {
  list-style none;
  lost-utility: clearfix;
  padding: 0.8rem 1rem;

  &:hover {
    background: #eee;
  }
}

.Forums__TopicList__Item__Link {
  display: block;
  color: $black;
  lost-utility: clearfix;
}

.Forums__TopicList__Item__Avatar {
  lost-column: 11/100;
}

.Forums__TopicList__Item__Content {
  lost-column: 80/100;
}

.Forums__TopicList__Item__Excerpt {
  margin-top 0.5em;
}

.Forums__TopicList__Item__Subject {
  margin 0 0 .3em 0;
}

.Forums__TopicList__Item__Metas__Authoring {
  font-size 0.8rem;
}

.Forums__TopicList__Item__NbReplies {
  lost-column: 9/100;
}

.Forums__TopicList__Item__Subject--Solved:before {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome
  margin-right .1rem;
  content: "\f00c";
  color: $orange
}
