.Forums__MessageList {
  margin 0;
  padding 0;
}

.Forums__MessageList__Message {
  list-style none;
  lost-utility: clearfix;
  padding: 1rem 0 3rem 0;
  border-bottom 1px solid $lightgrey;

  position relative;

  &:last-child {
    border-bottom 1px solid transparent;
  }
}


.Forums__MessageList__Message__Side {
  lost-column: 20/100;
}

.Forums__MessageList__Message__Side__Avatar {
  text-align center
}

.Forums__MessageList__Message__Side__UserInfos__Label {
  font-weight bold;
}

.Forums__MessageList__Message__Side__UserInfos__Info {
  margin 0
}

.Forums__MessageList__Message__Content {

  padding-bottom: 1rem;

  & a {
    color: $black;
  }

  lost-column: 80/100;
  border-left: 1px solid $lightgrey;
  padding-left: .7rem;

  & .hljs {
    padding: .8rem;
    padding-right: 0;
  }

    & pre {
      overflow: hidden;
    }
}
  
.Forums__MessageList__Message__Content__Html {
  margin-top: 0.8rem;

  & a {
    color: $orange;
    text-decoration none;
    border-bottom 1px solid lightgrey;
    &:hover {
      border-color: $orange;
    }
  }

  & blockquote {
    background-color: lighten($orange, 80%);
    margin: 0;
    padding: .8rem 0 .8rem 2rem;
    border: 1px solid lighten($orange, 60%);

    & p {
      margin 0;
      padding 0;
    }
  }
  
  & code {
    font-family: 'Ubuntu Mono';
  }
  
  & p > code {
    padding: 0 .3rem .1rem;
    border: 1px solid $lightgrey;
    background-clip: padding-box;
  }

  & pre > code {
    padding: 1rem;
  }
}

.Forums__MessageList_Message__Content__Authoring {
  font-size 0.8rem;
}

.Forums__MessageList_Message__Content__Authoring--Author {
  font-size 1rem;
  font-weight bold;
  margin-right: 2rem;
}


.Forums_MessageList__Message__Content__Buttons {
  position absolute;
  top 1rem;
  right: 0;
  margin-bottom 1rem;
}