.Forums_ChosenCategory {
  padding:3em;
  lost-position: middle-center;
  a {
    color: white;
  }
}

.Forums_TopicHeader {
  padding:1.5em;
  lost-position: middle-center;
  a {
    color: white;
  }

  text-align center;
}

.Forums__TopicHeader__Title--Solved:before {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: FontAwesome
  margin-right .1rem;
  content: "\f00c";
}

.Forums__Content {
  margin-top: 2rem;
  lost-offset: -1 / 20
  lost-column: 15 / 20
}


.Forums__Paginator {
  margin-top 2rem;
  text-align center;
  &.Forums__Paginator--Right {
    float: right;
    text-align right;
  }
}

@import "./forums_sidebar"
@import "./forums_categorylabel"
@import "./forums_topiclist"
@import "./forums_messagelist"
@import './forums_searchbar'



.Forums__MyMessages, .Forums__MyMessages_Message {
  padding 0;
  margin 0;
  list-style none
}

.Forums__MyMessages__Message {
  padding: .8rem 1rem;
  border 1px solid $lightgray
  margin-bottom 1rem;
}

.Forums__MyMessages__Message__Link {
  color: $black;
  text-decoration none;
  .Forums__MyMessages__Message:hover &, &:hover {
    color: $orange;
  }
}

.Forums__MyMessages__Message__Subject {
  @extend .Forums__TopicList__Item__Subject
}

.Forums__MyMessages__Message__Meta {
  @extend .Forums__TopicList__Item__Metas__Authoring
}


.Forums--Fullpage {
  & .Forums__Content {
    lost-offset: 0
    lost-column: 1/1
  }
}




@media screen and (max-width: 980px) {

  .Forum--Sidebar {
    padding: 1rem;
  }



  .Forums__Sidebar {
    lost-column: 1
  }

  .Forums__Content {
    margin-top: 2rem;
    lost-offset: 0
    lost-column: 1
  }
  
  .Forums__TopicList__Item__Avatar, .Forums__TopicList__Item__NbReplies, .Forums__MessageList__Message__Side, .Forums_MessageList__Message__Content__Buttons {
    display: none;
  }

  .Forums__TopicList__Item__Content, .Forums__MessageList__Message__Content {
    lost-column: 1;
  }
}
