.Forums_ChosenCategory {
  padding:3em;
  lost-position: middle-center;
  a {
    color: white;
  }
}

.Forums_TopicHeader {
  padding:1.5em;
  lost-position: middle-center;
  a {
    color: white;
  }

  text-align center;
}

.Forums__Content {
  margin-top: 2rem;
  lost-offset: -1/20
  lost-column: 15/20
}


.Forums__Paginator {

  margin-top 2rem;

  ul {
    padding 0;
    margin 0;
    text-align center
  }

  li {
    list-style none;
    display inline-block

    a {
      buttonLike();
      background $orange;
      color white;
      padding: .3rem 1rem;
      font-weight bold;
      text-decoration: none;
      &:hover {
        color: white;
      }
    }

    &.disabled {
      display none;
    }
  }
}


@import "./forums_sidebar"
@import "./forums_categorylabel"
@import "./forums_topiclist"
@import "./forums_messagelist"
@import './forums_searchbar'