.Forums_ChosenCategory {
  padding:3em;
  lost-position: middle-center;
  a {
    color: white;
  }
}

.Forums_TopicHeader {
  padding:1.5em;
  lost-position: middle-center;
  a {
    color: white;
  }

  text-align center;
}

.Forums__Content {
  margin-top: 2rem;
  lost-offset: -1 / 20
  lost-column: 15 / 20
}


.Forums__Paginator {
  margin-top 2rem;
  text-align center;
  &.Forums__Paginator--Right {
    float: right;
    text-align right;
  }
}


@import "./forums_sidebar"
@import "./forums_categorylabel"
@import "./forums_topiclist"
@import "./forums_messagelist"
@import './forums_searchbar'


.Forums--Fullpage {
  & .Forums__Content {
    lost-column: 1/1
  }
}