.Forums__Sidebar {
  margin-top: 2rem;
  lost-column: 4/20
  padding: gutter(1);
}

.Forums__Sidebar__CategoriesList {
  margin 1rem 0 0 0;
  padding 0;
}


.Forums__Sidebar__CategoriesList__Item {
  display: block;
  text-align left;
  list-style none;
  font-size 1rem;
  padding .2rem 0

  & a {
    color: black;
    text-decoration: none

    &:hover {
      color: $orange;
    }
  }
}

.Forums__Sidebar__CategoriesList__Item__Color {
  display inline-block;
  border-radius 5px;
  width: 1rem;
  height 1rem;
  margin-right: .5rem;
}

.Forums__Sidebar__CategoriesList__Item--All:before {
  content: ' '
  display inline-block;
  border-radius 5px;
  width: 1rem;
  height 1rem;
  margin-right: .5rem;
  border: 1px solid darkgray;
}
