.ContactPage {

  .Contact {
    min-height 500px;
  }

  .Contact__Warning {
    background lightyellow;
    border: 1px solid lightsalmon;
    padding: 1rem;
    
    & .fa {
      margin-right: .2rem;
    }
  }
}

@media screen and (max-width: 980px) {

  .ContactPage .Contact {
      padding: 1rem;
  }

}