.PageForums {

  .CodeMirror {
    min-height: 150px;
    height: 150px;
  }

  .CodeMirror-scroll {
    max-height: 140px;
    padding-bottom: 0px;
  }

  .CodeMirror-fullscreen .CodeMirror-scroll {
    max-height none;
    padding-bottom: 30px;
  }

  .SiteFooter__Inner {
    lost-column: 3 / 4;
    lost-offset: -1 / 4;
  }
}

@media screen and (max-width: 980px) {

  .PageForums {
    .SiteFooter__Inner {
      lost-column: 1;
      lost-offset: 0;
    }


    .Forums__Content__AnswerBlock {
        padding: 1rem;
    }
  }

}
