.Badge {
  display: inline-block;
  min-width: 0.6rem;
  padding: 0.19rem 0.44rem;
  font-size: 0.75rem;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #777;
  border-radius: 10px;
}

.Badge-Orange {
  color: $white;
  background-color: $orange;
}