.Form__Row {
  margin-top 2rem;
}

.Form__Row__Label {
  height 2rem;
  display block
  font-weight bold;
}

.Form__Row__Control {
  height 2rem;
  width 100%
  padding: 5px 10px;

  &:not([type=file]) {
    border 1px solid $black;
  }

  select[multiple]& {
    height auto;
  }

  textarea& {
    min-height 10rem;
  }
}

.Form__Row--Buttons {
  text-align right;
}

.Form__ErrorList {
  background: #FFD2D2;
  border: 1px solid #FF8383;
  padding: 1rem;
}

.Form__ErrorList__Item {
  margin: 0;
  margin-left: 1rem;
  padding: 0;
}