.Modal--LoginBox {
  font-weight: bold;
}

.LoginBox__Providers, LoginBox__Providers__Provider {
  list-style none;
  padding:0
  margin 0
}

.LoginBox__Providers__Provider {
  font-size: 1.5rem;
  color: $black;

  a {
    font-weight: normal;
    color: $black;
    text-decoration none
    &:hover {
      color: $orange;
    }
  }
}

.LoginBox__Providers__Provider a:before {
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-size 1.5rem;
  font-family: FontAwesome
  margin-right .2rem;
  color: $black;
}

.LoginBox__Providers__Provider a:hover:before {
  color: $orange;
}

.LoginBox__Providers__Provider--Google a:before {
  content: "\f0d4";
}

.LoginBox__Providers__Provider--Github a:before {
  content: "\f092";
}

.LoginBox__Providers__Provider--Twitter a:before {
  content: "\f081";
}
