.pagination, .pager {
    padding 0;
    margin 0;
    text-align center;
    display: inline-block;
    lost-utility: clearfix;

  li {
    display inline;

    a, &.active span {
      position: relative;
      float: left;
      padding: .3rem 1rem;
      margin-left: -1px;
      border: 1px solid $orange;
    }

     a {
      text-decoration: none;
     }

    &.disabled {
      display none;
    }
  }
}


.pagination {
  li.active span {
    background $orange;
    color white;
  }

  li a {
    background $white;
    color $orange;
    &:hover {
      color: white;
      background $orange;
    }
  }
}

.pager {

  li a {
    margin-left: 2rem;
    background $orange;
      color $white;
      &:hover {
        color: $orange;
        background white;
      }
  }
}