.SiteHeader {
  background-color: $orange;
  border-bottom 1px solid grey;
}

.SiteHeader__Inner {
  lost-center: $siteWidth;
}

.SiteHeader__Inner__SiteTitle {
  lost-column: 3 / 12
  margin 0;
  color: $white;
  padding: 20px 0;
}

.SiteHeader__Inner__Nav {
  lost-column: 9 / 12
}

.SiteHeader__Inner__Nav__Links {
  margin: 0;
  float right;
}

.SiteHeader__Inner__Nav__Links__Link {
  display: inline-block;
  padding: 2rem 1rem;
  position relative;
  color: white;

  & > a {
    padding: 2rem 0px;
    color: white;
    text-decoration none;
    &:hover {
      text-decoration underline;
    }
  }
}

.SiteHeader__Inner__Nav__Links__Link__Sub {
  padding: .3rem 1rem 1em 1em;
  position: absolute;
  top: 84px;
  left: 0;
  width: 150px;
  box-shadow: none;
  display: none;
  opacity: 0;
  visibility: hidden;
  background: $orange;
  border: 1px solid grey;
  border-top: 0;

  .SiteHeader__Inner__Nav__Links .SiteHeader__Inner__Nav__Links__Link:hover & {
    display: block;
    opacity: 1;
    visibility: visible;
  }
}

.SiteHeader__Inner__Nav__Links__Link__Sub__Link {
  background: $orange;
  display: block;
  color: $white;
  text-shadow: 0 -1px 0 $black;
  & > a {
    color: white;
    text-decoration none;
    &:hover {
      text-decoration underline;
    }
  }

}